.pagination {
    display: flex;
    align-items: center;
    gap: 8px;

    .page {
        display: flex;
        width: 28px;
        padding: 4px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 8px;

        cursor: pointer;

        &.active {
            background: var(--clr-black-200);
            color: var(--clr-white-100);
        }

        &.inactive {
            background: var(--clr-black-000);
            // color: var(--clr-white-100);
        }
    }
}