.widgets {
    display: flex;
    align-items: center;
    gap: 16px;
}

.widget {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;

    border-radius: 8px;
    border: 1px solid var(--clr-back-000);
    background: var(--clr-white-100);

    .wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 16px;

        &.space-between {
            justify-content: space-between;
        }
    }

    &__import {
        display: flex;
        height: 24px;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 8px;

        &.inactive {
            color: var(--clr-black-100);
            background: var(--clr-black-000);
        }

        &.active {
            color: var(--clr-green-200);
            background: var(--clr-green-100);
        }

        &.complete {
            color: var(--clr-primary-400);
            background: var(--clr-primary-300);
        }
    }

    &__action {
        display: flex;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 8px;
        color: var(--clr-white-100);
        background: var(--clr-black-300);
        cursor: pointer;
    }
}


@media screen and (max-width: 1088px) {
    .widget:nth-child(3) {
        display: none;
    }
}