.dialog__background {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    padding-top: 15%;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
}

.dialog {

    display: flex;
    width: 350px;
    height: fit-content;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 8px;
    background: var(--clr-white-100);
    border: 1px solid var(--clr-back-000);

    &__wrapper {
        &--a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
        }

        &--b {

            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
        }

        &--c {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
        align-self: stretch;
    }

    svg {
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }
}

.dialog_pile {
    display: inline-flex;
    height: 24px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;

    &.alert {
        background: var(--clr-primary-300);
        color: var(--clr-primary-400);
    }

    &.error {
        background: var(--clr-red-100);
        color: var(--clr-red-200);
    }

    &.success {
        background: var(--clr-green-100);
        color: var(--clr-green-200);
    }
}