:root {
    // Colors
    --clr-primary-100: #f9f9fd;
    --clr-primary-200: #e0e3fe;
    --clr-primary-300: #dedeff;
    --clr-primary-400: #6575f8;

    --clr-black-000: rgba(192, 192, 192, 0.20);
    --clr-black-100: #898989;
    --clr-black-200: #1c1c1c;
    --clr-black-300: #121212;

    --clr-white-100: #ffffff;
    --clr-white-200: #f2f2f2;

    --clr-red-100: #FBD2D4;
    // --clr-red-200: #EC1F26;
    --clr-red-200: crimson;

    --clr-green-100: #D2F7DF;
    --clr-green-200: #1ED760;

    --clr-background: #F9F9F9;

    // Border Radius
    --border-radius-sm: 8px;
    --border-radius-mm: 12px;

    // box-shadow
    --box-shadow-01: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}


// Utility Classes
.clr {
    &--red {
        color: var(--clr-red-200);
    }

    &--green {
        color: var(--clr-green-200);
    }

    &--gray {
        color: var(--clr-black-100);
    }

    &--black {
        color: var(--clr-black-300)
    }

    &--accent {
        color: var(--clr-primary-400);
    }
}

.flex-row-8 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.flex-row-16 {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon {
    display: flex;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
}

.underline {
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}